version: 2

updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
      day: monday
    labels:
      - dependencies
      - patch
    open-pull-requests-limit: 5
    groups:
      kubernetes:
        patterns:
          - "k8s.io/*"
      prometheus:
        patterns:
          - "github.com/prometheus/*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
    labels:
      - dependencies
      - skip-release
    open-pull-requests-limit: 5
